<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Clientes</ion-title>
    <ion-buttons slot="end">
      <!--<ion-button (click)="servicio.irA('/cliente/0')">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>-->
      <ion-button (click)="Cargar_Clientes()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar color="primary" debounce="500" (ionChange)="Cargar_Clientes()" [(ngModel)]="texto" placeholder="Buscar..."></ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let cliente of clientes" #ionItemSliding>
      <ion-item>
        <ion-label text-wrap>
          <h2>{{cliente.nombre}}</h2>
          <p>Dir.: {{cliente.direccion}}</p>
          <p>Tel.: {{cliente.telefono}}</p>
        </ion-label>
        <ion-badge slot="end" color="danger">{{cliente.id}}</ion-badge>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="Editar(cliente, ionItemSliding)">Editar</ion-item-option>
        <ion-item-option color="danger" (click)="Borrar(cliente, ionItemSliding)">Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>